/* Main content styling */

#content_container
{
	height:auto;
	width:1072px;
	margin:0 auto 0 auto;
	box-shadow:rgb(0,0,0) 0 0 2px 2px;
}

#letter_n_ticker
{
	height:1110px;
	background-color:rgb(240,240,240);
	padding-top:50px;
	opacity:0.9;
}

#letter_gensec
{
	float:left;
	position:absolute;
	width:740px;
	height:auto;
	padding-left:30px;
	padding-right:30px;
	border-right:rgb(51,51,51) 1px solid;
}

#letter_gensec h2
{
	text-align:center;
	color:rgb(0,51,102);
	text-shadow:rgb(51,51,51) 0 0 5px;
	font-size:32px;
	letter-spacing:2px;
	font-weight:bold;
}

.text
{
	text-align:justify;
	letter-spacing:0.8px;
	color:rgb(51,51,51);
	line-height:24px;
}

#right_side
{
	float:right;
	width:270px;
	height:auto;
}

#ism_diaries
{
	position:relative;
	text-align:center;
	font-size:20px;
	letter-spacing:2px;
	line-height:50px;
	color:rgb(80,80,80);
	width:240px;
	height:auto;
	top:0;
	margin:30px 15px auto;
}

#ism_diaries_img
{
	background:url(../img/ismDiaries.png);
	height:155px;
	width:240px;
}

#ticker
{
	margin:50px 15px auto;
	width:240px;
	height:auto;
	border:rgb(153,153,153) 1px solid;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}

#ticker h2
{
	margin:0;
	display:block;
	text-align:center;
	padding-top:7px;
	width:100%;
	height:35px;
	font-size:20px;
	letter-spacing:1px;
	color:rgb(255,255,255);
	background-color:rgb(0,51,102);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

#ticker a:link, #ticker a:visited
{
	text-decoration:none;
	color:rgb(0,51,153);
	transition:color 0.5s;
	-webkit-transition:color 0.5s;
}

#ticker a:hover, #ticker a:active
{
	color:rgb(0,153,102);
}

.light
{
	background-color:rgb(255,255,255);
	padding:14px 10px 14px 10px;
	color:rgb(51,51,51);
	text-align:justify;
	letter-spacing:1px;
}

.dark
{
	background-color:rgb(200,200,200);
	padding:14px 10px 14px 10px;
	color:rgb(0,0,0);
	text-align:justify;
	letter-spacing:1px;
}

#team_heading
{
	width:1072px;
	height:100px;
	margin:0 auto 0 auto;
	background-color:rgb(0,51,102);
	padding-top:20px;
}

#team_heading h2
{
	text-align:center;
	color:rgb(220,220,220);
	text-shadow:rgb(51,51,51) 0 0 5px;
	font-size:32px;
	letter-spacing:2px;
	font-weight:bold;
}

#team
{
	width:1072px;
	height:1600px;
	margin:0 auto 0 auto;
	background-color:rgba(240,240,240, 0.9);
	padding-top:50px;
}

.row
{
	margin:50px auto;
	width:1072px;
	height:250px;
	padding:20px 30px 0 70px;
}

.dp
{
	height:170px;
	width:170px;
	border-radius:85px 85px 85px 85px;
	float:left;
	margin-right:20px;
	box-shadow:rgb(102,102,102) 0 0 10px 10px;
	transition:box-shadow 1.5s;
	-webkit-transition:box-shadow 1.5s;
}

.dp:hover
{
	box-shadow:rgb(0,102,153) 0 0 10px 10px;
}

.dp_name
{
	margin-top:20px;
	font-size:20px;
	text-align:center;
	color:rgb(51,51,51);
	float:left;
}

.fb
{
	margin:15px auto 0 auto;
	height:40px;
	width:40px;
	background:url(../img/fbg.png);
	transition:background 0.5s;
	-webkit-transition:background 0.5s;
}
.fb:hover
{
	background:url(../img/fbc.png);
}

.pos
{
	font-size:18px;
	margin-top:5px;
}

#pranjal
{
	background:url(../img/pranjal.png) 0 0;
}
#pranjal:hover
{
	background-position:-170px 0;
}

#prachi
{
	margin-left:210px;
	background:url(../img/prachi.png) 0 0;
}
#prachi:hover
{
	background-position:-170px 0;
}

#kopal
{
	background:url(../img/kopal.png) 0 0;
}
#kopal:hover
{	
	background-position:-170px 0;
}

#ashay
{
	margin-left:160px;
	background:url(../img/ashay.png) 0 0;
}
#ashay:hover
{
	background-position:-170px 0;
}

#harshit
{
	background:url(../img/harshit.png) 0 0;
}
#harshit:hover
{	
	background-position:-170px 0;
}

#utkarsh
{
	margin-left:160px;
	background:url(../img/utkarsh.png) 0 0;
}
#utkarsh:hover
{
	background-position:-170px 0;
}

#abhinav
{
	background:url(../img/abhinav.png) 0 0;
}
#abhinav:hover
{	
	background-position:-170px 0;
}

#tanmay
{
	margin-left:160px;
	background:url(../img/tanmay.png) 0 0;
}
#tanmay:hover
{
	background-position:-170px 0;
}

#tushar
{
	background:url(../img/tushar.png) 0 0;
}
#tushar:hover
{	
	background-position:-170px 0;
}

#ashish
{
	margin-left:120px;
	background:url(../img/ashish.png) 0 0;
}
#ashish:hover
{
	background-position:-170px 0;
}